.button-container {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-content: center;
  margin-top: 1em;
  background-color: aquamarine;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

.grid div {
  height: 20px;
  width: 20px;
}

.data-container {
  display: grid;
  grid-template-rows: repeat(6, auto);
}

.nextTitle {
  text-align: center;
  grid-row: 1/2;
}

.mini-grid {
  width: 100px;
  height: 80px;
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  background-color: black;
}

.mini-grid div {
  width: 20px;
  height: 20px;
}

.scoreTitle {
  grid-row: 3/4;
  text-align: center;
}

.scoreNumber {
  grid-row: 4/5;
  text-align: center;
}

.playerTitle {
  grid-row: 5/6;
  text-align: center;
}

.playerName {
  grid-row: 6/7;
  text-align: center;
}
