.container{
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(172, 172, 151);
}

.grid div {
    width: 20px;
    height: 20px;
}

.piece {
    background-color: blue;
}

.mini-grid{
    width: 100px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5em;
    background-color: rgb(172, 172, 151);
}

.mini-grid div {
    width: 20px;
    height: 20px;
}