body {
  background-image: url("tetris_background.jpg");
}

.button-container {
  display: flex;
  margin-top: 10em;
  justify-content: center;
}

.container {
  display: grid;
  margin-top: 1em;
  justify-content: center;
  grid-template-columns: repeat(2, 200px);
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

.grid div {
  height: 20px;
  width: 20px;
}

.data-container {
  display: grid;
  align-content: center;
  grid-template-rows: 10% 20% 10% 20% 10% 20%;
}

.nextTitle {
  color: white;
  text-align: center;
  grid-row: 1/2;
}

.mini-grid {
  width: 100px;
  height: 80px;
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
}

.mini-grid div {
  width: 20px;
  height: 20px;
}

.scoreTitle {
  color: white;
  grid-row: 3/4;
  text-align: center;
}

.scoreNumber {
  grid-row: 4/5;
  text-align: center;
}

.playerTitle {
  color: white;
  grid-row: 5/6;
  text-align: center;
}

.playerName {
  grid-row: 6/7;
  text-align: center;
}

.gameover-container {
  text-align: center;
  margin-top: 1em;
  color: white;
}
